.talk {
  h2 {
  }

  h4 {
    margin: 0;
  }

  h5 {
    margin: 4px 0 12px;

    .separator {
      display: inline-block;
      margin: 0 10px;
    }
  }

  .description {
    margin: 40px 0;
  }

  .slides, .video {
    margin-bottom: 30px;

    h4 {
      margin-bottom: 12px;
    }
  }
}

.talk-list {
  list-style: none;
  margin: 30px 0 0 0;
  padding: 0;

  .talk-link {
    display: inline-block;
    width: 50%;
  }

  .year {
    display: inline-block;
    margin-left: 12px;
  }
}
